<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Security</title>
</head>
<body>
<h1>Страница смены пароля</h1>
<p>Здесь будет текст</p>
</body>
</html>

<!--{% block mainmenu %}-->
<!--<div class="header">-->
<!--<ul id="mainmenu" class="mainmenu">-->
<!--<li class="logo"><a href="#"><div class="logo"></div></a></li>-->
<!--Фильтры шаблонов и подключение статических файлов 13-->
<!--{% for m in menu %}-->
<!--{% if not forloop.last %}-->
<!--<li><a href="#">{{m.title}}</a></li>-->
<!--{% else %}-->
<!--<li class="last"><a href="#">{{m.title}}</a></li>-->
<!--{% endif %}-->
<!--{% endfor %}-->
<!--</ul>-->
<!--<div class="clear"></div>-->
<!--</div>-->
<!--{% endblock mainmenu %}-->