{% extends 'AudioApp/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="features">
    <h1>О программе</h1>
    <p>Просто перетащите свои файлы на страницу, выберите выходной формат и
        нажмите кнопку «Конвертировать». Подождите немного для завершения процесса.
        Мы стараемся выполнять все наши преобразования не дольше 1-2 минут. Конвертер поддерживает
        все популярные аудио форматы, такие как MP3, MP4, OGG, WAV, FLAC, MOV, AC3 и ASF. Интерфейс очень
        прост и интуитивно понятен, не требует никаких дополнительных действий!</p>
</div>
{% endblock %}

