{% extends 'AudioApp/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="features">
    <center><h1>Онлайн конвертер аудио</h1></center>
    <center><p>Сконвертируйте онлайн аудиофайлы любого формата</p></center>
    <form action="" method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <center><button class="btn btn-warning">Загрузить файл</button><br></center>
    </form>
    <br>
    <center><button class="btn btn-warning">Конвертировать</button></center>
</div>
{% endblock %}



# Добавить список форматов и переход на кнопку конвертировать